<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rezins.flutter_face_ai_sdk">

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true">

        <activity
            android:name=".SysCamera.verify.FaceVerificationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.FaceAISDK.Fullscreen" />
        <activity
            android:name=".SysCamera.verify.LivenessDetectActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.FaceAISDK.Fullscreen" />
        <activity
            android:name=".FaceAINaviActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SysCamera.verify.TwoFaceImageVerifyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:theme="@style/FaceAITheme"/>
        <activity
            android:name=".AboutFaceAppActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.camera.CustomCameraActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.search.FaceSearchImageMangerActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SysCamera.addFace.AddFaceFeatureActivity"
            android:exported="false"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".SysCamera.search.FaceSearch1NActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/FaceAITheme" />

        <activity
            android:name=".SysCamera.search.FaceSearch1NWithMotionLivenessActivity"
            android:exported="false"
            android:theme="@style/Theme.FaceAISDK.Fullscreen" />
        <activity
            android:name=".SysCamera.search.FaceSearchMNActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.verify.FaceVerifyWelcomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SysCamera.search.SearchNaviActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".FaceAISettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>
